<div class="container" id="page-content">
        <!-- Content here -->
        <div class="row">
            <div class="col-sm-4">
                <img id="profile-pic" src="https://avatars2.githubusercontent.com/u/5952189?s=460&v=4" alt="Profile Image">
            </div>
            <div class="col-sm-8">
                <h1>About Me</h1>

                <p>
                    Spicy jalapeno bacon ipsum dolor amet turkey cow sausage, venison pork hamburger
                    andouille shoulder bresaola ribeye ham drumstick flank. Pancetta turducken salami,
                    prosciutto frankfurter cow ham. Pork chop biltong ham chicken boudin jerky tenderloin.
                    Shoulder chicken short loin, kielbasa shank pork loin brisket turducken filet mignon
                    jerky cupim pancetta. Pig cupim sausage chicken fatback bresaola bacon, ham tenderloin
                    short ribs.
                </p>

                <p>
                    Short loin ground round corned beef, prosciutto kielbasa leberkas flank rump chicken
                    tongue cupim picanha andouille. Sirloin bresaola hamburger bacon, jowl t-bone salami
                    pastrami shankle frankfurter prosciutto meatloaf chuck alcatra meatball. Pancetta chuck
                    tri-tip fatback, boudin turkey pork loin doner. Biltong short ribs swine boudin andouille drumstick.
                </p>

                <a class="btn btn-outline-dark" href="https://github.com/ryankopinsky" role="button" target="_blank">GitHub</a>
            </div>
        </div>
    </div>